.card-container {
   display: grid;
   grid-template-columns: 1fr 1fr 1fr 1fr;
   grid-template-rows: 1fr 1fr 1fr;
   justify-items:stretch;
   padding-top: 2rem;
}

.card-container div img {
   width: 10rem;
}

.score {
   height: 2rem;
   display: flex;
   justify-content: space-around;
   align-items: center;
   color: white;
   font-weight: 700;
}
