

.card-container {
   display: grid;
   grid-template-columns: 1fr 1fr 1fr 1fr;
   grid-template-rows: 1fr 1fr 1fr;
   grid-gap: 10px;
   justify-items: center;
   padding-top: 2rem;
   width: 40rem;
   margin: 0 auto;
}

.card-container div img {
   width: 10rem;
}

.score {
   display: flex;
   justify-content:center;
   color: white;
   font-size: 1.25rem;
   font-weight: 700;
}

.score p {
   padding: 0 1rem;
}

.score span {
   color: yellow;
   font-weight: 400;
}
